<md-toolbar class="header">
    <div class="md-toolbar-tools">
        <h2>
            <span>Crash Reporter Server</span>
        </h2>
        <md-button class="top-button top-button-space-left" aria-label="Projects"
                   ui-sref="header.projects.list"
                   ui-sref-active="active"
                   ng-disabled="!headerCtrl.isLoggedIn">
            <span class="title">Projects</span>
        </md-button>
        <span flex></span>

        <md-menu md-offset="-5 75" ng-if="headerCtrl.currentUser.role === headerCtrl.roles.admin">
            <md-button class="md-icon-button opened" aria-label="Administration" ng-click="$mdOpenMenu($event)">
                <md-icon class="fa fa-cog big-icons"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-disabled="true">
                        <span md-menu-align-target>Users</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu md-offset="-5 66" ng-if="headerCtrl.isLoggedIn">
            <md-button aria-label="User menu" class="md-icon-button opened"
                       ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin class="fa fa-user big-icons"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ui-sref="header.profile">
                        <span md-menu-align-target>Profile</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="headerCtrl.logout()">
                        <span md-menu-align-target>Logout</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-content ui-view="content"></md-content>