.crash-reporter {
  .header {
    .md-open {
      .opened {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
    .top-button {
      .top-button-space-left {
        margin-left: 10px;
      }
      padding: 13px 0;
      border-radius: 0 !important;
    }
    .active {
      background-color: white;
      color: rgb(16, 108, 200) !important;
      border-bottom: 2px solid rgb(255, 82, 82);
      &:hover {
        background-color: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }
}