<md-toolbar class="header">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Navigation" ng-disabled="true">
            <i class="fa fa-bars big-icons"></i>
        </md-button>
        <h2>
            <span>Crash Reporter Server</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <i class="fa fa-cog big-icons"></i>
        </md-button>
    </div>
</md-toolbar>

<md-content ui-view="content"></md-content>