<md-toolbar class="header">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Navigation" ng-disabled="!headerCtrl.isLoggedIn">
            <i class="fa fa-bars big-icons"></i>
        </md-button>
        <h2>
            <span>Crash Reporter Server</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <i class="fa fa-cog big-icons"></i>
        </md-button>
        <md-menu md-offset="-5 66" ng-if="headerCtrl.isLoggedIn">
            <md-button aria-label="User menu" class="md-icon-button opened"
                       ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin class="fa fa-user big-icons"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-disabled="true">
                        <span md-menu-align-target>Profile</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="headerCtrl.logout()">
                        <span md-menu-align-target>Logout</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-content ui-view="content"></md-content>