<md-content class="profile" layout="column" layout-padding layout-wrap flex>
    <div layout="row" layout-align="start center">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="profileCtrl.openSideNav()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </md-button>
        <h3 class="md-title">Change Password</h3>
    </div>

    <div class="line-separator" layout="row"></div>

    <md-card>
        <md-card-content layout="column">
            <form name="changePassword">
                <md-input-container class="max-width">
                    <label>Old Password</label>
                    <input ng-model="passwordProfileCtrl.oldPassword" name="oldPassword" type="password" required>
                    <div ng-messages="changePassword.oldPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="max-width">
                    <label>New Password</label>
                    <input ng-model="passwordProfileCtrl.newPassword" name="newPassword" type="password" required>
                    <div ng-messages="changePassword.newPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="max-width">
                    <label>Confirm New Password</label>
                    <input ng-model="passwordProfileCtrl.confirmPassword" name="confirmPassword"
                           ng-pattern="{{passwordProfileCtrl.newPassword}}" type="password" required>
                    <div ng-messages="changePassword.confirmPassword.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">Not same as new password.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <div layout="column" flex></div>
                    <md-button ng-disabled="changePassword.$invalid" layout="column"
                               ng-click="passwordProfileCtrl.changePassword()"
                               class="md-raised md-primary">Save
                    </md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>