<md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="leftProfileMenu">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item ng-click="profileCtrl.goAndCloseSideNav('header.profile.user')">
                    <md-icon aria-label="User Data" class="fa fa-users"></md-icon>
                    <p>User Data</p>
                </md-list-item>
                <md-list-item ng-click="profileCtrl.goAndCloseSideNav('header.profile.email')">
                    <md-icon aria-label="Change Email" class="fa fa-envelope"></md-icon>
                    <p>Change Email</p>
                </md-list-item>
                <md-list-item ng-click="profileCtrl.goAndCloseSideNav('header.profile.password')"
                              ng-if="!profileCtrl.user.github.id">
                    <md-icon aria-label="Change Password" class="fa fa-lock"></md-icon>
                    <p>Change Password</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div ui-view="content"></div>

</md-content>