<!doctype html>
<html>
<body>
<div class="external-header">
    <div class="internal-header">
        <img src="cid:logo" class="logo"></img>
        <h2>Crash Reporter Server</h2>
    </div>
</div>
<p>New Crash Report just published for project <span class="italic">{{project.name}}</span>.</p>
<a href="{{backendUrl}}#/project/{{project._id}}/crash-logs">You can see it here</a>
<p class="no-reply">Do no reply to this email.</p>
</body>
</html>