.project-create {

  .title-size {
    height: 56px;
  }

  .md-title {
    margin: 0;
  }

  .separator {
    width: 40px;
  }

  .padding-right-left {
    padding-left: 5px;
    padding-right: 5px;
  }
}