<!doctype html>
<html>
<body>
<div class="external-header">
    <div class="internal-header">
        <img src="cid:logo" class="logo"></img>
        <h2>Crash Reporter Server</h2>
    </div>
</div>
<p>Thanks for your registration on our web site !</p>
<p class="no-reply">Do no reply to this email.</p>
</body>
</html>