<md-dialog aria-label="Add new local user">
    <form name="addUser">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add new local user</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="adminAddNewUserCtrl.close()">
                    <md-icon class="fa fa-close big-icons" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="modal-margin">
                <md-input-container class="max-width">
                    <label>Username</label>
                    <input ng-model="adminAddNewUserCtrl.username" name="username" type="text"
                           required>
                    <div ng-messages="addUser.username.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="max-width">
                    <label>Role</label>
                    <md-select name="role" ng-model="adminAddNewUserCtrl.role" required>
                        <md-option ng-repeat="role in adminAddNewUserCtrl.roles" ng-value="role"
                                   ng-bind="role.toUpperCase()"></md-option>
                    </md-select>
                    <div ng-messages="addUser.role.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="adminAddNewUserCtrl.password" name="password" type="password"
                               required>
                        <div ng-messages="addUser.password.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Confirm Password</label>
                        <input ng-model="adminAddNewUserCtrl.confirmPassword" name="confirmPassword"
                               ng-pattern="{{adminAddNewUserCtrl.password}}" type="password" required>
                        <div ng-messages="addUser.confirmPassword.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="pattern">Not same as password.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="max-width">
                    <label>Email</label>
                    <input ng-model="adminAddNewUserCtrl.email" name="email" type="email">
                    <div ng-messages="addUser.email.$error">
                        <div ng-message="email">Not an email.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <div layout="column" flex></div>
                    <md-button ng-disabled="addUser.$invalid" layout="column"
                               ng-click="adminAddNewUserCtrl.create()"
                               class="md-raised md-primary">Save
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>