<md-dialog aria-label="Change user password">
    <form name="changePassword">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="adminUserChangePasswordCtrl.close()">
                    <md-icon class="fa fa-close big-icons" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="modal-margin">
                <md-input-container class="max-width">
                    <label>New Password</label>
                    <input ng-model="adminUserChangePasswordCtrl.newPassword" name="newPassword" type="password"
                           required>
                    <div ng-messages="changePassword.newPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="max-width">
                    <label>Confirm New Password</label>
                    <input ng-model="adminUserChangePasswordCtrl.confirmPassword" name="confirmPassword"
                           ng-pattern="{{adminUserChangePasswordCtrl.newPassword}}" type="password" required>
                    <div ng-messages="changePassword.confirmPassword.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">Not same as new password.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <div layout="column" flex></div>
                    <md-button ng-disabled="changePassword.$invalid" layout="column"
                               ng-click="adminUserChangePasswordCtrl.changePassword()"
                               class="md-raised md-primary">Save
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>