<md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="leftAdminMenu">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item ng-click="administrationCtrl.goAndCloseSideNav('header.administration.users')">
                    <md-icon aria-label="Users" class="fa fa-users"></md-icon>
                    <p>Users</p>
                </md-list-item>
            </md-list>
            <md-list flex>
                <md-list-item ng-click="administrationCtrl.goAndCloseSideNav('header.administration.configuration')">
                    <md-icon aria-label="Configuration" class="fa fa-cogs"></md-icon>
                    <p>Configuration</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div ui-view="content"></div>

</md-content>