<md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="leftAdminMenu">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item ui-sref="header.administration.users">
                    <md-icon aria-label="Users" class="fa fa-users"></md-icon>
                    <p>Users</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div ui-view="content"></div>

</md-content>