.big-icons {
  font-size: 20px !important;
  margin-top: 1px;
}

.text-bold {
  font-weight: bold;
}

.margin-top {
  margin-top: 20px;
}

.max-width {
  width: 100%;
}

md-dialog-content {
  .modal-margin {
    margin: 20px;
  }
}