.projects {
  .md-title {
    margin: 0;
  }

  .line-separator {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    padding: 0;
  }

  .grid-list {
    md-grid-list {
      margin: 8px;
    }

    .gray {
      background: #b3c8dd;
    }

    .red {
      background: #ff8a80;
    }

    md-grid-tile {
      transition: all 400ms ease-out 50ms;
    }
  }
}